<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545608914385-gdqck5rodnokqkdim530b45j4vtag1i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545608914385-gdqck5rodnokqkdim530b45j4vtag1i2</string>
	<key>API_KEY</key>
	<string>AIzaSyAn1CY4SOg014QX3jw29rIAVo-hZ6WJQsc</string>
	<key>GCM_SENDER_ID</key>
	<string>545608914385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marketPlace</string>
	<key>PROJECT_ID</key>
	<string>marketplace-2ba74</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-2ba74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545608914385:ios:175aff595af0112284bcf0</string>
</dict>
</plist>